body {
	text-align: center;
	margin: 0px;
	padding: 100px;
	height: 1000px;
}

input {
	width: 250px;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
}


ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}
#createChatBtn {
	width: 300px;
	height: 100px;
	background-color: gray;
	color: white;
	margin-bottom: 50px;
}

#createChatBtn:hover{
	background-color:black;
	opacity: 0.2 1s;
}

#modal {
	display: none;
	position: absolute;
	width: 500px;
	height: 400px;
	background-color: rgba(0,0,0,0.8);
	top: 100px;
	left: 37%;
	animation: fadein 2s;
}

#closeModal {
	posotion: absolute;
	right: 0;
	top:0;
}

#chatList {
	display: flex;
	justify-content: center;
	align-items: center;
}

.show {
	display: inline-flex !important;
}
.none {
	display: none !important;
}

.chat {
	display: inline-block;
	text-align: left;
	
	width: 300px;
	height: 200px;
	border: 5px solid yellow;
	border-radius: 15px;
	margin: 10px;
}

.flexible {
	display: inline-flex;
	justify-content: center;
	align-items: center
}

@keyframes fadein {
	from{
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}